@model IEnumerable<GABS20250319.AppWebMVC.Models.Brand>

@{
    ViewData["Title"] = "Index";
}

<style>
    body{
         background: linear-gradient(to bottom, #4A0065, #800080, #C25997);
    }
</style>

<div class="container">
    <h1 class="text-center mb-4 text-white">Marcas</h1>
    <hr class="border-white">

    <p>
        <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
    </p>

    <table class="table table-bordered" >
        <thead>
            <tr>
                <th class="text-white">@Html.DisplayNameFor(model => model.BrandName)</th>
                <th class="text-white">@Html.DisplayNameFor(model => model.Country)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-white">@Html.DisplayFor(modelItem => item.BrandName)</td>
                    <td class="text-white">@Html.DisplayFor(modelItem => item.Country)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BrandId" class="btn btn-sm btn-primary">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.BrandId" class="btn btn-sm btn-info ml-2">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.BrandId" class="btn btn-sm btn-danger ml-2">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>