@model GABS20250319.AppWebMVC.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<style>
    body{
        background-image: url(https://img.freepik.com/foto-gratis/puesta-sol-siluetas-arboles-montanas-ia-generativa_169016-29371.jpg?t=st=1742689136~exp=1742692736~hmac=35fe82704cfdb9f867c317b370b90f54bdceb550068035a6959b04d563d11b1e&w=1060);
        background-color: #4d5656;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 class="text-center mb-4 text-white">¿Estás seguro que quieres eliminar este?</h3>
            <h4 class="text-center mb-4 text-white">Producto</h4>
            <hr class="border-white">

            <table class="table table-bordered " style="backdrop-filter: blur(5px);">
                <tbody>
                    <tr>
                        <th scope="row" class="text-white">Nombre del producto</th>
                        <td class="text-white">@Html.DisplayFor(model => model.ProductName)</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-white">Descripción</th>
                        <td class="text-white">@Html.DisplayFor(model => model.Description)</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-white">Precio</th>
                        <td class="text-white">@Html.DisplayFor(model => model.Price)</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-white">Marca</th>
                        <td class="text-white">@Html.DisplayFor(model => model.Brand.BrandName)</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-white">Categoría</th>
                        <td class="text-white">@Html.DisplayFor(model => model.Category.CategoryName)</td>
                    </tr>
                </tbody>
            </table>

            <div class="mt-4">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="ProductId" />
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-secondary ml-2">Volver a la lista</a>
                </form>
            </div>
        </div>
    </div>
</div>