@model IEnumerable<GABS20250319.AppWebMVC.Models.User>

@{
    ViewData["Title"] = "Index";
}

<style>
    body{
        background: linear-gradient(to bottom, #4A0065, #800080, #C25997);
    }
</style>

<table class="table">
    <div class="container">
        <h1 class="text-center mb-4 text-white">Usuarios</h1>
        <hr class="border-white">

        <p>
            <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
        </p>

        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th class="text-white">@Html.DisplayNameFor(model => model.Username)</th>
                    <th class="text-white">@Html.DisplayNameFor(model => model.Email)</th>
                    <th class="text-white">@Html.DisplayNameFor(model => model.PasswordHash)</th>
                    <th class="text-white">@Html.DisplayNameFor(model => model.Role)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-white">@Html.DisplayFor(modelItem => item.Username)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td class="text-white">@Html.DisplayFor(modelItem => item.PasswordHash)</td>
                        <td class="text-white">@Html.DisplayFor(modelItem => item.Role)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-sm btn-primary">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.UserId" class="btn btn-sm btn-info">Detalles</a>
                            <a asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-sm btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</table>
